---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Galeria"
  description="Pagina con coleccion de imagenes sobre Minis FHA"
>
  <section
    class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full"
  >
    <h1>Galeria</h1>
  </section>
</Layout>
