---
import HeroContainer from '@/components/HeroContainer.astro'
import Numeros from '@/components/Numeros.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Galeria"
  description="Pagina con coleccion de imagenes sobre Minis FHA"
>
  <HeroContainer img="/galeria.webp">
    <h1
      class="lg:text-6xl text-5xl text-center uppercase font-tomaso tracking tracking-widest"
    >
      Galeria de Imagenes
    </h1>
  </HeroContainer>

  <main>
    <Numeros />
    <div class="h-96"></div>
  </main>
</Layout>
