---
import Layout from "../layouts/Layout.astro";
import Foto from "../sections/Video.astro";
import Intro from "../sections/Intro.astro";
import Bento from "../sections/Bento.astro";
import PreFooter from "../sections/PreFooter.astro";
import Footer from "../sections/Footer.astro";

---

<Layout title="Minis FHA">
  <Foto />

  <main class="">
    <Intro />
    <Bento />
    <PreFooter />
  </main>

  <Footer />
</Layout>
