---
import HeroContainer from '@/components/HeroContainer.astro'
import Layout from '@/layouts/Layout.astro'

import styles from '../components/styles/Button.module.css'

import Logeado from '@/sections/Logeado.astro'

import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)
---

<Layout
  title="Iniciar sesion"
  description="Pagina donde puedes inciar sesion con tu cuenta de GOOGLE"
>
  <HeroContainer img="/archivo-page/img-19.webp">
    {
      session ? (
        <>
          <h1 class="lg:text-6xl text-5xl text-center uppercase font-tomaso tracking tracking-widest mb-5">
            Hola <br /> {session.user?.name} 👋
          </h1>
          <button
            id="logout"
            class={`
                    text__glowing
                    text-sm 
                    ${styles.button} 
                    w-fit
                    font-medium
                    no-underline
                    px-5
                    py-3
                    border
                    border-solid
                    border-white
                    rounded-full
                    uppercase
                    `}
          >
            Cerrar sesion
          </button>
        </>
      ) : (
        <>
          <h1 class="lg:text-6xl text-5xl text-center uppercase font-tomaso tracking tracking-widest mb-5">
            Incia Sesion en Minis FHA
          </h1>
          <button
            id="login"
            class={`
                    text__glowing
                    text-sm 
                    ${styles.button} 
                    w-fit
                    font-medium
                    no-underline
                    px-5
                    py-3
                    border
                    border-solid
                    border-white
                    rounded-full
                    uppercase
                    `}
          >
            Inciar sesion
          </button>
        </>
      )
    }
  </HeroContainer>
  <main class="my-24">
    {
      session ? (
        <Logeado />

      ): (
        <p class="m-auto w-full max-w-[1400px] text-center text-4xl font-semibold text-pretty">Para poder contratar un plan de adiestramineto o adoptar necesitas inicar session</p>
      )
    }
  </main>
</Layout>

<script>
  import { $ } from '@/lib/dom-selector'
  const { signIn, signOut } = await import('auth-astro/client')

  const $login = $('#login')
  const $logout = $('#logout')

  if ($login) $login.onclick = () => signIn('google')
  if ($logout) $logout.onclick = () => signOut()
</script>
