---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Planes"
  description="A collection of planes from around the world."
>
  <h1>Planes</h1>
  <p>Here are some planes from around the world.</p>
</Layout>
