---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Sobre nosotros"
  description="Pagina para saber nuestra trayectoria en adiestramiento canino"
>
  <h1>Sobre nosotros</h1>
  <p>
    ¡Hola! Somos un grupo de personas que nos encanta la tecnología y queremos
    compartir nuestro conocimiento contigo.
  </p>
</Layout>
