<header class="bg-red-400 p-4">
  <div class="flex flex-1 items-center">
    <picture class="">
      <img
        src="../../public/img/logo.svg"
        alt="Logo de Minis FHA"
        class="w-14 h-14 overflow-hidden"
      />
    </picture>
    <h1 class="text-balance text-lg font-bold mx-2">Minis FHA</h1>
  </div>
</header>
