---
import Logo from '@/components/Logo.astro'
import HeaderLink from '@/components/HeaderLink.astro'
import styles from '../components/styles/Button.module.css'

import MenuIcon from '@/components/Icons/MenuIcon.astro'
import CloseIcon from '@/components/Icons/Close.astro'
---

<header id="header-nav" class="fixed top-0 w-full px-6 py-4 z-50">
  <div class="max-w-7xl mx-auto flex items-center justify-between gap-16">
    <HeaderLink
      checkActive={false}
      href="/"
      class="relative z-10"
      aria-label="a la página de inicio"
    >
      <Logo
        class="absolute w-14 m-auto blur-sm opacity-0 transition-opacity duration-300 hover:opacity-100"
      />
      <Logo class="w-14" />
    </HeaderLink>
    <nav
      id="header-menu"
      class="fixed w-full h-dvh inset-0 bg-[#242424]/90 md:text-xl lg:text-xl flex flex-col items-center justify-center gap-8 -translate-y-full transition-transform duration-300 target:translate-y-0 md:static md:h-[initial] md:bg-[initial] md:flex-row md:translate-y-[initial]"
    >
      <HeaderLink class="text__glowing" href="/SobreNosotros/">
        Sobre nosotros
      </HeaderLink>
      <HeaderLink class="text__glowing" href="/Archivos/">Archivos </HeaderLink>
      <HeaderLink class="text__glowing" href="/Planes/"> Planes </HeaderLink>

      <a href="#header-nav" class="md:hidden absolute top-6 right-6">
        <CloseIcon />
      </a>
    </nav>
    <a
      href={'/Login'}
      class={`
                    text__glowing
                    text-sm 
                    ${styles.button} 
                    w-fit
                    font-medium
                    no-underline
                    px-5
                    py-3
                    border
                    border-solid
                    border-white
                    rounded-full
                    uppercase
                    `}
    >
      Unete
    </a>

    <a href="#header-menu" class="md:hidden"><MenuIcon /></a>
  </div>
</header>
