---
import Logo from '../components/Logo.astro'
---

<section
  class="relative z-10 mx-auto my-24 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20"
>
  <Logo class="mx-auto w-24" />
  <h1
    class="mx-auto mb-10 text-wrap text-center text-5xl font-semibold tracking-wide"
  >
    Bienvenidos a Minis FHA, Donde los Campeones Nacen
  </h1>
  <p>
    Nuestra misión es trascender los estándares convencionales, proporcionando
    un ambiente donde
    <strong>cada perro puede alcanzar su máximo potencial</strong>
    , tanto en el escenario competitivo como en el corazón de su
    <strong>nuevo hogar</strong>.
  </p>

  <p>
    Desde meticulosos programas de entrenamiento hasta un cuidado integral que
    garantiza su bienestar, en Minis FHA cada detalle está pensado para el
    <strong>desarrollo óptimo de nuestros campeones</strong>.
  </p>

  <p>
    Explora nuestra página para descubrir cómo podemos ayudarte a encontrar <strong
      >tu próximo compañero de campeonato</strong
    >, o a <strong
      >llevar el vínculo con tu amigo de cuatro patas a niveles nunca antes
      imaginados</strong
    >.
  </p>
</section>
