<section class="mx-auto w-full max-w-[1400px] p-6 sm:p-20">
  <h3
    class="mx-auto mb-10 text-balance text-center text-xl font-semibold uppercase tracking-wide md:text-4xl"
  >
    Convenio y Asociaciones
  </h3>

  <p class="text-xl mx-auto text-pretty text-center tracking-wide">
    Nos enorgullece colaborar y ser miembros activos de prestigiosas
    organizaciones dedicadas al bienestar animal y al adiestramiento canino.
    Nuestro compromiso con la excelencia se refleja en nuestras certificaciones
    y alianzas con:
  </p>
  <ul class="flex justify-center items-center gap-36">
    <li>
      <a
        href="https://www.fci.be/es/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/FederacionInternacional.webp"
          alt="Federación Canina Internacional"
          class="w-56"
        />
      </a>
    </li>
    <li>
      <a href="https://fcm.mx/" target="_blank" rel="noopener noreferrer">
        <img
          src="/FederacionPerros.webp"
          alt="Federación Canina Internacional"
          class="w-56"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.setpuebla.mx/ondemand/vivemejor-2/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/vm.webp"
          alt="Federación Canina Internacional"
          class="w-24"
        />
      </a>
    </li>
  </ul>
</section>
